<div class="row">
      <div class="col-12" *ngIf="isLogin" style="padding: 15px; background: #e2e0e0;">
         <form #formModificarMountains="ngForm" (ngSubmit)="onModificarRecetMountains(formModificarMountains)">
           <div class="form-group">
               <label for="ing">Լեռնաշղթան կամ գտնվելու վայրը</label>
               <input type="text" class="form-control" id="ing" name="ridge"  [(ngModel)]="mountain.ridge" required>
           </div>
           <div class="form-group">
               <label for="cap">Լեռնագագաթ</label>
               <input type="text" class="form-control" id="cap" name="pic"  [(ngModel)]="mountain.pic"required>
           </div>
           <div class="form-group">
               <label for="pop">Բարձրություն</label>
               <input type="text" class="form-control" id="pop" name="high"  [(ngModel)]="mountain.high" required>
           </div>
           <div class="form-group">
               <label for="imageState">Նկար</label>
               <div class="changedImage" *ngIf="!isImage">
                 <img src="{{mountain.url}}" alt="" class="img-fluid">
               </div>
                <div class="file">
                   <label class="file-label">
                       <input class="file-input" type="file" name="url"  (change)="upload($event)" required>
                     <span class="file-cta">
                       <span class="file-icon">
                         <i class="fa fa-upload"></i>
                       </span>
                       <span class="file-label">
                         choses Image...
                       </span>
                     </span>
                   </label>
                 </div>
                <div  class="row">
                  <div class="col-12">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="uploadedImage alert alert-info"   role="alert" *ngIf="downloadURL | async; let downloadSrc">
                      <span class="d-block">File uploaded:</span>
                      <div class="editimgUploadedPool">
                        <img  src="{{downloadSrc}}" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>
           </div>
           <div class="form-group">
               <label for="desc">Նկարագրություն</label>
               <textarea type="text" rows="6" class="form-control" id="desc" name="description"  [(ngModel)]="mountain.description" required></textarea>
           </div>
           <div class="form-group">
               <label for="cap">Գտնվում է՝</label>
               <select class="form-control" name="in_area" [(ngModel)]="mountain.in_area" required>
                 <option value="asia">Ասիայում</option>
                 <option value="europa">Եվրոպայում</option>
                 <option value="north-america">Հս Ամերիկայում</option>
                 <option value="south-america">Հվ Ամերիակյում</option>
                 <option value="africa">Աֆրիկայում</option>
                 <option value="antarktida">Անտարկտիդա</option>
                 <option value="australia">Ավստրալիայում</option>
               </select>
           </div>
           <input type="submit" class="btn btn-block btn-primary" value="Ավելացնել" [disabled]="!formModificarMountains.valid">
       </form>
        </div>
      </div>
