
<div class="col-12 col-sm-8 mx-auto mt-3 mb-3" *ngIf="isLogin"   style="padding: 15px; background: #e2e0e0;">
    <form #formModificarOceans="ngForm" (ngSubmit)="onModificarRecetOceans(formModificarOceans)">
        <div class="form-group">
          <label for="tit">Անվանում</label>
          <input type="text" class="form-control" id="pre" name="name"  [(ngModel)]="ocean.name" required>
        </div>
        <div class="form-group">
            <label for="tit">Մակերես</label>
            <input type="text" class="form-control" id="pre" name="area"  [(ngModel)]="ocean.area" required>
        </div>
        <div class="form-group">
            <label for="ing">Միջին խորություն</label>
            <input type="text" class="form-control" id="ing" name="deep"  [(ngModel)]="ocean.deep" required>
        </div>
        <div class="form-group">
            <label for="pre">Ամենախորը փողրակը</label>
            <input type="text" class="form-control" id="pre" name="veryDeep"  [(ngModel)]="ocean.veryDeep" required>
        </div>
        <div class="form-group">
            <label for="pre">Մակերևույթային ջերմաստիճան</label>
            <input type="text" class="form-control" id="pre" name="temperature"  [(ngModel)]="ocean.temperature" required>
        </div>
        <div class="form-group">
            <label for="imageState">Նկար</label>
            <div class="changedImage" *ngIf="!isImage">
              <img src="{{ocean.url}}" alt="" class="img-fluid">
            </div>
             <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="url"  (change)="upload($event)" required>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Update Image...
                    </span>
                  </span>
                </label>
              </div>
             <div  class="row">
               <div class="col-12">
                 <div class="progress">
                   <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
                   </div>
                 </div>
                 <div class="uploadedImage alert alert-info"   role="alert" *ngIf="downloadURL | async; let downloadSrc">
                   <span class="d-block">File uploaded:</span>
                   <div class="editimgUploadedPool">
                     <img  src="{{downloadSrc}}" alt="" class="img-fluid">
                   </div>
                 </div>
               </div>
             </div>
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Պահպանել" [disabled]="!formModificarOceans.valid">
    </form>
</div>
