<div class="col-12 col-sm-8 mx-auto" *ngIf="isLogin"  style="padding: 15px; background: #e2e0e0;">

    <form #formModificarFirstMountain="ngForm" (ngSubmit)="onModificarRecetFirstMountain(formModificarFirstMountain); formModificarFirstMountain.reset()" >
      <div class="form-group">
        <label for="tit">Անվանում</label>
        <input type="text" class="form-control" id="pre" name="name"  [(ngModel)]="frtmount.name" required>
      </div>
      <div class="form-group">
        <label for="tit">Գտնվում է՝</label>
        <input type="text" class="form-control" id="pre" name="in_the"  [(ngModel)]="frtmount.in_the" required>
      </div>
      <div class="form-group">
        <label for="tit">Բարձրություն</label>
        <input type="text" class="form-control" id="pre" name="high"  [(ngModel)]="frtmount.high" required>
      </div>
        <input type="submit" class="btn btn-block btn-primary" value="Պահպանել"  [disabled]="!formModificarFirstMountain.valid">
    </form>
</div>
