
.tableCity thead th{
    background-color: #2497e3;
    border-color: #2497e3;
    color:#fff !important;
}
.tableCity th{
    font-size:14px;
    font-weight: 400;
}
.islands_wrap p{
    font-size:14px;
}
.card_island{
    width: 300px;
}
/* Add Form */
.buttonForma{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 2222;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #2497e3;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    
}
.formAdded span.lnr-cross{
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 222;
    
}
.formAdded div, .formAdded input[type=submit]{
    position: relative;
    z-index: 22;
}
.formAdded::before{
    content:"";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
}
.formAdded:after{
    content:"";
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}
.insideForm{
    padding: 25px;
}
.formAdded{
    transition: all .4s;
    position: fixed;
    z-index: 222;
    width: 650px;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    top:0px;
    visibility:hidden;
    z-index:-1;
}
/* Add Form */

@media screen and (min-width: 1200px){
   
}
@media screen and (max-width: 1200px) and (min-width: 991px){
    
}
@media screen and (max-width: 991px){
    
}
@media screen and (max-width: 991px) and (min-width: 767px){
    .formAdded{
        width: 450px;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px){
   
   .card_island{
        width: 100%;
        display:block;
        margin-bottom: 15px !important;
        padding: 0 !important;
    }
    .formAdded{
        width: 400px;
    }
}
@media screen and (max-width: 576px){
    
    .card_island{
        width: 100%;
        display:block;
        margin-bottom: 15px !important;
        padding: 0 !important;
    }
    .formAdded{
        width: 300px;
    }
}