
    <div  class="row">
      <div class="col-12 col-sm-5 col-lg-4">
          <div class="card_image_more">
            <a href="{{ see.url }}" class="states_img d-block text-center" data-fancybox="images" data-caption="">
                <img class="mr-3" src="{{see.url}}" class="img-fluid">
            </a>
            <div class="desc_states">
              <h4>{{see.name}}</h4>
              <p><span>Մակերես </span> {{see.area + ' հզ.կմ'}}</p>
              <p><span>Միջ. խորություն</span> {{see.deep + ' մ'}}</p>
              <p><span>Առավել. խորություն</span> {{see.veryDeep + ' մ'}}</p>
              <p><span>Աղիություն</span> {{see.solty + ' ‰'}}</p>
            </div>
          </div>
      </div>
      <div class="col-12 col-sm-7 col-lg-8">
          <div class="descMoreState">
            <b class="mt-0">{{see.name}}</b>
            <p>{{see.description}}</p>
          </div>
      </div>
    </div>
