<div class="container-fluid" style="background:#000">
  <div class="row">
    <div class="col-12">
      <section class="common_wraps" >
        <div id="izoLine">

        <div class="izoLine1 text-center abs_wraps presentRotate3d">
          <h1 class="text-center text-white">Ապահովվածություն</h1>
          <a href="./assets/img/resolve1.png" data-fancybox="images" data-caption="" class="d-block">
              <img class="mr-3" src="./assets/img/resolve1.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine2 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Բնակչության խտություն</h1>
          <div class="den_more d-flex align-items-start">
            <p>Բնակչության խտություն տարածքի բնակեցվածության աստիճանն արտահայտող ցուցանիշ, որը հաշվում են բնակչության թվի և տարածքի հարաբերությամբ։ Այլ կերպ ասած՝ այդ ցուցանիշը արտահայտում է մարդկանց միջին թիվը տարածքի 1 կմ² հաշվով, այդ իսկ պատճառով անվանում են բնակչության միջին խտություն։ Երբեմն հաշվարկում են նաև խտությունն ավելի իրականորեն արտահայտող ցուցանիշներ՝ 1 կմ² միայն բնակեցված տարածքի կամ էլ՝ օգտագործվող վարելահողի հաշվով։</p>
         
          </div> 
          <a href="./assets/img/resolve2.png" data-fancybox="images" data-caption="" class="d-block">
              <img class="mr-3" src="./assets/img/resolve2.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine3 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Ուրբանիզացում</h1>
          <p>Ուրբանիզացիա (ֆրանս․ urbanisation, լատ․ urbanus-քաղաքային, urbs- քաղաք), հասարակության զարգացման մեջ քաղաքների դերի բարձրացման պատմական պրոցես, որն ընդգրկում է բնակչության սոցիալ–մասնագիտական, ժողովրդագրական կառուցվածքի, նրա ապրելակերպի, մշակույթի, արտադրողական ուժերի տեղաբաշխման, տարաբնակեցման և այլ փոփոխությունները։</p>
          <a href="./assets/img/resolve3.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve3.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine4 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Միգրացիա(գաղթ)</h1>
          <b>Ինչ է միգրացիան</b>
          <p>
            Միգրացիան  (լատ. migratio,  migro- գաղթ, վերաբնակեցում) բնակչության բռնի կամ կամավոր տեղաշարժն է մի երկրից մյուսը կամ նույն երկրի ներսում կապված մշտական կամ ժամանակավոր բնակավայրը փոխելու հետ: Տարբերում ենք արտաքին (միջմայցամաքային և միջպետական) և ներքին (ներպետական) միգրացիաներ, միջշրջանային և գյուղական բնակավայրերից բնակչության վերաբնակեցումը քաղաքներում:</p>
          <a href="./assets/img/resolve4.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve4.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine5 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Գետի անկում</h1>
          <p>Գետի անկումը անկունքի և գետաբերանի բացարձակ բարձրությունների տարբերությունն է:</p>
          <a href="./assets/img/resolve5.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve5.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine6 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Գետի թեքություն</h1>
          <p>Գետի թեքությունը անկման հարաբերությունը է նրա երկարությանը:<br>
            Որքան մեծ են անկումն ու թեքությունը այնքան մեծ է գետի էներգետիկ կարողությունը:</p>
          <a href="./assets/img/resolve6.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve6.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine7 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Պրոմիլե</h1>
          <a href="./assets/img/resolve7.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve7.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine8 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Բնակչության թիվը</h1>
          <a href="./assets/img/resolve8.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve8.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine9 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Ջրի ծախսը</h1>
          <p>Գետի ծախս, ժամանակի միավորի ընթացքում հոսանքի լայնական կտրվածքով անցնող ջրի ծավալը։ Խոշոր գետերի և ջրանցքների համար արտահայտվում է մ3/վրկ, գետակների և աղբյուրների համար՝ լ/վրկ։ Գետի ծախսի սիստեմատիկ որոշման հիման վրա հաշվարկում են միջին օրական, առավելագույն և նվազագույն ծախսի մեծությունները, ինչպես նաև ջրի հոսանքի ծավալը։</p>
          <a href="./assets/img/resolve9.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve9.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine10 text-center abs_wraps futureRotate3d">
          <h1 class="text-center text-white">Ճառագայթների անկման անկյուն</h1>
          <a href="./assets/img/resolve10.png" data-fancybox="images" data-caption="" class="d-block">
            <img class="mr-3" src="./assets/img/resolve10.png" class="img-fluid">
          </a>
        </div>
        <div class="izoLine11 text-center abs_wraps futureRotate3d">
          <div class="commonSub">
            <h1 class="text-center text-white">Աստիճանային կոռելացիա</h1>
            <div class="">
              <b class="border-bottom">Աստիճանային կոռելացիան</b>
              <span class="text-left"> բնութագրվում և միաժամանակ ցույց է տալիս բնական, տնտեսական, սոցիալական, ժողովրդագրական, տարբեր ցուցանիշների միջև եղած մոտակա կապվածությունը: Աստիճանային կոռելացիայի փոփոխականը կարող է տատանվել [-1:1] միջակայքում: Եթե թիվը մոտ է 1-ին, ապա նրանց միջև գործում է սերտ կապ, եթե թիվը մոտ է -1-ին, ապա նրանց միջև գործում է հակադարձ կապ, իսկ եթե ցուցանիշը տատանվում է 0- շրջակայքում, ապա նրանց միջև կապը բացակայում է: </span>
            </div>
          </div>
          <div class="subChild futureSub">
            <a href="./assets/img/korelacia.png" data-fancybox="images" data-caption="" class="d-block">
              <img class="mr-3" src="./assets/img/korelacia.png" class="img-fluid">
            </a>
          </div>
          <div class="subChild futureSub">
            <a href="./assets/img/resolve11.png" data-fancybox="images" data-caption="" class="d-block">
              <img class="mr-3" src="./assets/img/resolve11.png" class="img-fluid">
            </a>
          </div>
          <div class="subChild futureSub">
            <a href="./assets/img/resolve12.png" data-fancybox="images" data-caption="" class="d-block">
              <img class="mr-3" src="./assets/img/resolve12.png" class="img-fluid">
            </a>
          </div>
        </div>

      </div>
        <div class="progress_bar d-flex justify-content-between align-items-end">
          <div class="isp_progress" [style.width]="(uploadProgress) + '%'"  aria-valuemin="0">
          </div>
          <div class="circle_analog">
            <span class="lnr lnr-chevron-up disable_chevron" (click)='callUp($event)'></span>
            <span class="lnr lnr-chevron-right active_chevron" (click)='callNext($event)'></span>
            <span class="lnr lnr-chevron-left disable_chevron" (click)='callPrev($event)'></span>
            <span class="lnr lnr-chevron-down disable_chevron" (click)='callDown($event)'></span>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
