
<div class="container-fluid continentPage">
    <div class="row">

        <div class="col-12 col-sm-4 col-md-3">
            <div class="content_ng_filters">
                <h4 class="mb-0">Մայրցամաքներ</h4>
                <ul class="continential_ul " #mapContinent>
                  <li class=""><a routerLink="/geographic/world/continential/asia" routerLinkActive="continential-active">Ասիա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/asia/state" routerLinkActive="continential-active-sub">Պետություններ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/asia/pools" routerLinkActive="continential-active-sub">Լճեր</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/asia/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/asia/rivers" routerLinkActive="continential-active-sub">Գետեր</a></li>
                    </ul>
                  </li>
                  <li class=""><a routerLink="/geographic/world/continential/europa" routerLinkActive="continential-active">Եվրոպա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/europa/state" routerLinkActive="continential-active-sub">Պետություններ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/europa/pools" routerLinkActive="continential-active-sub">Լճեր</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/europa/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/europa/rivers" routerLinkActive="continential-active-sub">Գետեր</a></li>
                    </ul>
                  </li>
                  <li class=""><a routerLink="/geographic/world/continential/africa" routerLinkActive="continential-active">Աֆրիկա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/africa/state" routerLinkActive="continential-active-sub">Պետություններ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/africa/pools" routerLinkActive="continential-active-sub">Լճեր</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/africa/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/africa/rivers" routerLinkActive="continential-active-sub">Գետեր</a></li>
                    </ul>
                  </li>
                  <li class=""><a routerLink="/geographic/world/continential/australia" routerLinkActive="continential-active">Ավստրալիա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/australia/state" routerLinkActive="continential-active-sub">Պետություններ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/australia/pools" routerLinkActive="continential-active-sub">Լճեր</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/australia/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/australia/rivers" routerLinkActive="continential-active-sub">Գետեր</a></li>
                    </ul>
                  </li>
                  <li class=""><a routerLink="/geographic/world/continential/antarktida" routerLinkActive="continential-active">Անտարկտիդա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/antarktida/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                    </ul>
                  </li>
                  <li class=""><a routerLink="/geographic/world/continential/north-america" routerLinkActive="continential-active">Հս. Ամերիկա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/north-america/state" routerLinkActive="continential-active-sub">Պետություններ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/north-america/pools" routerLinkActive="continential-active-sub">Լճեր</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/north-america/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/north-america/rivers" routerLinkActive="continential-active-sub">Գետեր</a></li>
                    </ul>
                  </li>
                  <li class=""><a routerLink="/geographic/world/continential/south-america" routerLinkActive="continential-active">Հվ. Ամերիկա <span class="lnr lnr-plus-circle" (click)="slideDown($event)"></span></a>
                    <ul class="continential_sub_ul" type="none">
                        <li class=""><a routerLink="/geographic/world/continential/south-america/state" routerLinkActive="continential-active-sub">Պետություններ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/south-america/pools" routerLinkActive="continential-active-sub">Լճեր</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/south-america/mountains" routerLinkActive="continential-active-sub">Լեռներ</a></li>
                        <li class=""><a routerLink="/geographic/world/continential/south-america/rivers" routerLinkActive="continential-active-sub">Գետեր</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
