
<div class="col-12 col-sm-8 mx-auto mt-3 mb-3" style="padding: 15px; background: #e2e0e0;" *ngIf="isLogin">

    <form #formModificarOceanSee="ngForm" (ngSubmit)="onModificarRecetOceanSee(formModificarOceanSee); formModificarOceanSee.reset()" >
        <div class="form-group">
          <label for="tit">Անվանում</label>
          <input type="text" class="form-control" id="pre" name="name"  [(ngModel)]="see.name" required>
        </div>
        <div class="form-group">
            <label for="tit">Մակերես</label>
            <input type="text" class="form-control" id="pre" name="area"  [(ngModel)]="see.area" required>
        </div>
        <div class="form-group">
            <label for="ing">Միջին խորություն</label>
            <input type="text" class="form-control" id="ing" name="deep"  [(ngModel)]="see.deep" required>
        </div>
        <div class="form-group">
            <label for="pre">Առավելագույն խորություն</label>
            <input type="text" class="form-control" id="pre" name="veryDeep"  [(ngModel)]="see.veryDeep" required>
        </div>
        <div class="form-group">
            <label for="pre">Աղիություն</label>
            <input type="text" class="form-control" id="pre" name="solty"  [(ngModel)]="see.solty" required>
        </div>
        <div class="form-group">
            <label for="pre">Նկարագրություն</label>
            <textarea rows="10" class="form-control" id="pre" name="description"  [(ngModel)]="see.description" required></textarea>
        </div>
        <div class="form-group">
            <label for="cap">Հանդիսանում է (****)-ի ծովը</label>
            <select class="form-control" name="in_area" [(ngModel)]="see.in_area" required>
              <option value="xaxax">Խաղաղ Օվկիանոսի</option>
              <option value="india">Հնդկական Օվկիանոսի</option>
              <option value="atlantic">Ատլանտյան Օվկիանոսի</option>
              <option value="north-ice">Հս. սառուցյալ Օվկիանոսի</option>
            </select>
        </div>
        <div class="form-group">
          <label for="imageState">Նկար</label>
          <div class="changedImage" *ngIf="!isImage">
            <img src="{{see.url}}" alt="" class="img-fluid">
          </div>
             <div class="file d-flex flex-column flex-sm-row justify-content-between">
                <label class="file-label">
                  <input class="file-input" type="file" name="url"  (change)="upload($event)" required>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      choses Image...
                    </span>
                  </span>
                </label>
              </div>
             <div  class="row">
               <div class="col-12">
                 <div class="progress">
                   <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
                   </div>
                 </div>
                 <div class="uploadedImage alert alert-info" role="alert" *ngIf="downloadURL | async; let downloadSrc">
                   <span class="d-block">File uploaded:</span>
                   <div class="editimgUploadedPool">
                     <img  src="{{downloadSrc}}" alt="" class="img-fluid">
                   </div>
                 </div>
               </div>
             </div>
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Պահպանել"  [disabled]="!formModificarOceanSee.valid">
    </form>
</div>
